body{
    background-color: bisque;
}
#container{
    background-color: mediumpurple;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
} 

#banner{
width: 100%;

}


.heading_style {
text-shadow: 2px 1px 2px #a78aff;
}

.old_willy{
    width: 40%;
    height: 30%;
}


img{ 
  display: block;
    margin: 0 auto;
    width: 100%;
}
nav{ 
    text-align: center;
margin: 20px 0;
background-color: plum;
padding: 5px;
}
nav ul {
list-style-type: none;
padding: 0;
}
nav li {
    display: inline-block;
}
nav li a {
display: block;
color: beige;
font-size: 24px;
font-weight: bold;
text-decoration: none;
margin: 0 15px;
width: 125px;
height: 40px;
line-height: 40px;
}

nav a:hover{
    background-color: sandybrown;
    color: black;
}

h1, h2, h3, h4, h5, footer {
    text-align: center;
}